<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech-Blog Extraordinaire</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <div class="flex-column justify-space-around">


        <header class="display-flex justify-space-between align-center p-2">
            <div class="title">
                <h1>
                    Tech-Blog Extraordinaire
                </h1>
            </div>
            <div class="menu">
                <nav>
                    <!-- Conditionally render login or logout links -->
                    {{#if logged_in}}
                    <button class="menu-button" id="homepage"><a href="/">homepage</a></button>
                    <button class="menu-button" id="dashboard"><a href="/profile">dashboard</a></button>
                    <button class="menu-button" id="logout">logout</button>
                    {{else}}
                    <button class="menu-button" id="homepage"><a href="/">homepage</a></button>
                    <button class="menu-button" id="dashboard"><a href="/login">dashboard</a></button>
                    <button class="menu-button" id="login"><a href="/login">login</a></button>
                    {{/if}}
                </nav>
            </div>
        </header>


        <main class="container container-fluid mt-5">
            <!-- Render the sub layout -->
            {{{ body }}}
        </main>


        <footer class="flex-row justify-flex-end align-end">
            <div class="footer">
                <p>Copywright some classics major who wasted college reading books.</p>
            </div>
        </footer>
    </div>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>