<div class="flex">
    {{!-- Greeting --}}
    <div class="col-auto mb-4">
        <h1 class="greeting">Welcome, {{name}}!</h1>
    </div>

    {{!-- // New Post Button --}}
    <div class="row m-5 p-5">
        <button class="menu-button">
            <a href="/new-post">
                <h3>Create a new Blog Post</h3>
            </a>
        </button>
    </div>

    {{!-- Print Current Posts --}}
    <div class="row">
        {{#if posts.length}}
        <div class="col-md-6 post-list">
            <h3 class="greeting">Current Posts:</h3>

            {{#each posts as |post|}}
            <div class="col-md-8  card bg-primary m-3">
                <a href="/post/{{post.id}}">
                    <h3>{{post.title}}</h3>
                </a>
                <p>{{post.contents}}</p>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>