:root {
    --rounded: 20px;
}

body {
    background-color: rgb(175, 234, 226);
    color: white;
    padding: 15px;
}

header {
    background-color: rgb(147, 172, 169);
    color: rgb(222, 222, 222);
    box-shadow: -9px 10px 10px 0px rgb(0, 0, 0, 0.65);
    margin-bottom: 3%;
}

.card {
    border-radius: var(--rounded);
}

.menu {
    display: flex;
    justify-content: right;
}

.menu,
nav {
    padding: 5px;
}

.menu-button {
    background-color: rgb(98, 98, 98);
    border: none;
    border-radius: var(--rounded);
    color: white;
    padding: 15px 32px;
    margin-left: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.greeting {
    font-size: 350%;
    text-shadow: 2px 2px #844141;
    text-decoration: underline;
}

.blog-title {
    background-color: antiquewhite;
}

.blog-header {
    font-size: 500%;
    text-decoration: overline;
    text-shadow: 2px 2px #844141;
}

.blog-p {
    font-size: 200%;
    margin: 100px;
}

a {
    text-decoration: dashed;
    color: whitesmoke;
}

a:hover {
    color: black;
    font-size: 105%;
}

.date {
    font-style: italic;
    font-weight: 500;
}

.footer {
    margin: 2%;
    padding: 1%;
    text-align: right;
    background-color: rgb(66, 66, 66);
    border-radius: var(--rounded);
}